@using System.Collections
@using Trails2012.Domain
@model Person

<div>
    @Html.ValidationSummary("Edit was unsuccessful. Please correct the errors and try again.") 
    
    @Html.Hidden("IsModelValid", ViewData.ModelState.IsValid) 
    
    @using (Ajax.BeginForm("Edit", "Person",
           new AjaxOptions
               {
                    UpdateTargetId = "personlistdiv", 
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "HideNewPersonForm"
               },
           new { @Class = "personeditform" }))
       {
        @Html.Hidden("Id", ViewData.Model.Id) 
        <div class="data-row">
            <div class="data-element submit">
                <input type="submit" value="Save" /> @*onclick="HideNewPersonForm()" />*@
                @Html.ActionLink("Cancel", "Index", "Person") 
            </div>
            <div class="data-element first-name">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName, "*")
            </div>
            <div class="data-element last-name">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName, "*")
            </div>
            <div class="data-element dob">
                @Html.LabelFor(model => model.DateOfBirth)
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth, "*")
            </div>
            <div class="data-element gender">
                @Html.LabelFor(model => model.Gender)
                @* @Html.DropDownListFor(model => model.Gender, new SelectList(new List<object>
                                                       {
                                                           new { ID = "M", Gender = "Male"},
                                                           new { ID = "F", Gender = "Female"}
                                                       }, "ID", "Gender")
                                           ) *@
                @Html.DropDownListFor(model => model.Gender, new SelectList((IEnumerable) ViewData["GenderList"], "Key", "Value"))
                @* @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender) *@
            </div>
        </div>    
    
    }
</div>



