@model IEnumerable<Trails2012.Domain.Trail>

@{
    ViewBag.Title = "Trails List";
}

<h2>Trails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Trail Type
        </th>
        <th>
            Overall Grade
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrailType.TrailTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverallGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id },  new {@class="fg-button ui-state-default ui-corner-all"} ) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
