@model IEnumerable<Trails2012.Domain.Person>

@{
    ViewBag.Title = "Trails - People";
}

<link rel="stylesheet" type="text/css" href="../../Content/Person.css" media="screen"></link>
<script type="text/javascript" src="../../Scripts/Person.js"></script>
<script type="text/javascript" src="../../Scripts/jquery-ui-1.8.11.js" ></script>

<script type="text/javascript">
    $(function () {
        InitPersonIndexForm();
    });

</script> 
	
<h2>People</h2>

<div id="personlistdiv">
    @Html.Partial("_List", Model)
</div>

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            DateOfBirth
        </th>
        <th>
            Gender
        </th>
        <th>
            FullName
        </th>
        <th>
            GenderDesc
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
*@